@charset "utf-8";
/*-------------------------------------------------------------------
    File definition: Common css
    Order:    Header > table > list > input > select box, radiobutton, checkbox > Footer 
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}
/* header start */
#hd {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  border-bottom: 0px solid rgba(255, 255, 255, 0);
  background: #151515;
  z-index: 1000;
}
#hd.fixed-top {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  animation: header_fix 0.3s ease-in-out forwards;
}
#hd:before,
#hd:after {
  clear: both;
  content: "";
  display: block;
}
.header_container {
  max-width: 1750px;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: solid 1px #aaaaaa20;
}
.other_home ul{
  display: flex;
}
.other_home ul li.on:first-child {
  padding-left: 0;
}
.other_home ul li:after {
  content: "";
  transition: transform 0.3s;
  position: absolute;
  left: 0;
  top: 13px;
  width: 2px;
  height: 14px;
  background: #2a2a2a;
  z-index: -1;
}
.other_home > ul > li {
  padding: 0 15px;
  position: relative;
}
.other_home ul li.on a {
  color: red;
  font-weight: bold;
}
.other_home ul li a {
  line-height: 38px;
  font-size: 15px;
  color: #888;
}
.other_home ul li a span {
  display: inline-block;
  margin: 0 10px;
}
.other_home ul ul {
  display: inline;
  padding: 0;
}
.other_home ul ul li {
  display: inline;
  padding: 0px 6px;
}
.other_home ul ul li:first-child {
  display: inline;
  padding: 0px 6px 0 0;
}
.header_top a {
  color: #888888;
}
.util {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.util_list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
}
.util_list li:not(:last-child) {
  padding-right: 1.3rem;
}
.util_list li {
  position: relative;
  padding: 0 1.3rem;
}
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: sticky;
  top: 87px;
}
#hd .logo {
  display: inline-block;
}
#hd .logo a {
  display: inline-block;
  height: 100%;
}
#hd .logo a img {
  width: 250px;
  margin-top: -10px;
}
.main_nav .main_nav_center {
  padding-left: 3.2rem;
}
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
#hd .gnb nav > .depth1 {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}
#hd .gnb nav > .depth1 > li.active2 {
  border-bottom: solid 4px #e81e2d;
}
#hd .gnb nav > .depth1 > li {
  padding: 0 1rem;
}
#hd .gnb nav > .depth1 > li:hover {
  z-index: 2;
  border-bottom: solid 4px #e81e2d;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
#hd .gnb nav > .depth1 > li > a {
  position: relative;
  display: inline-block;
  font-size: 25px;
  white-space: nowrap;
  font-weight: bold;
  color: var(--bs-white);
  padding: 10px 0;
}
#hd .sponsor_logo a {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
#hd .sponsor_logo a:first-child img {
  width: 110px;
}
#hd .sponsor_logo a img {
  width: 90px;
}
#hd .sponsor_logo a:last-child {
  margin-right: 0;
}
.gnb nav .depth2 {
  margin: 0;
  border: solid 1px #010101;
  background: #272727;
  padding: 25px 50px;
  min-width: 250px;
}
.gnb nav .depth2 > li {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.gnb nav .depth2 > li > a {
  font-size: 17px;
  display: table-cell;
  vertical-align: middle;
  padding: 7px 0px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
}
.gnb .list-inline li {
  position: relative;
  display: inline-block;
}

.depth2 {
  display: none;
  position: absolute;
  top: 57px;
  padding: 0;
  margin: 0 auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
  z-index: 100;
  margin: 0;
  border: solid 1px #010101;
  background: #272727;
  padding: 25px 50px;
  min-width: 250px;
  transition: 10s;
}

.depth2 li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.gnb .list-inline li:hover .depth2 {
  display: block;
}
.gnb nav .depth2 > li > .arrow {
  display: none;
}
.gnb nav .depth2 > li:hover > .arrow {
  display: inline-block;
}
.gnb nav .depth2 > li > .arrow i {
  font-size: 16px;
  color: var(--bs-white) !important;
}
/* for mobile */
.btn_menu:focus,
.btn_menu:visited {
  color: #111;
}
.btn_menu {
  width: 40px;
  height: 21px;
  display: inline-block;
  z-index: 99999;
  position: relative;
  display: none;
}
.btn_menu .inner {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 16px;
  vertical-align: middle;
}
.btn_menu .line {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out;
  font-size: 0;
  line-height: 0;
}
.btn_menu .tline {
  top: 0px;
}
.btn_menu .mline {
  top: 50%;
  margin-top: -1px;
}
.btn_menu .bline {
  bottom: 0px;
}
.btn_menu.active span:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  /* transform: translateY(7px) rotate(45deg); */
}
.btn_menu.active span:nth-child(2) {
  opacity: 0;
}
.btn_menu.active span:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}
.menu  .menu_wrap {
  opacity: 1;
  z-index: 9999;
  animation: menu_on0 .4s ease-in-out forwards;
}
.menu_wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  bottom: 0;
  right: 0;
  margin: auto auto;
  transition: all .3s ease;
  width: 100%;
  height: 100%;
  background-color: #151515;
}

.menu_wrap .allmenu {
  padding: 2.2rem;
}
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
#menu .allmenu .menu_top {
  border-bottom: 1px solid #ffffff30;
  padding-bottom: 1.2rem;
}
#menu .allmenu .title {
  font-size: 1.2rem;
  font-weight: bold;
}
.text-gray3 {
  color: var(--bs-gray);
}
#menu .allmenu .menu_top .login_wrap .mlogo {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 15px;
  padding: 0;
}
#menu .allmenu .menu_top .login_wrap a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 0 10px;
}
#menu .allmenu .menu_top .login_wrap .mlogo img {
  height: 100%;
  max-width: initial;
}
#menu .allmenu .menu_all {
  margin-top: 2rem;
}
#menu .allmenu .m_family {
  margin: 20px 0;
}
#menu .allmenu .family_list.flex {
  display: flex;
  align-items: center;
}
#menu .allmenu .family_list li, #menu .allmenu .family_list li a {
  display: inline-block;
  color: #777;
  font-size: 15px;
}
#menu .allmenu .family_list li {
  padding: 5px;
}
#menu .allmenu .family_list li.acfm {
  display: flex;
  align-items: center;
  gap: 1ex;
}
#menu .allmenu .family_list li.acfm:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0.8em;
  margin: 0 0.5ex 0 0;
  background: rgba(255, 255, 255, 0.2);
}
#hd .m_svips a {
  display: inline-block;
  margin-top: 10px;
}
#hd .m_svips a img{
  width: 136px !important;
}
#menu .allmenu .depth3{
  position: relative;
  color: var(--bs-white);
  display: block;
  padding-bottom: 0.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#menu .allmenu .depth3 > a {
  position: relative;
  display: block;
  font-size: 20px;
  color: var(--bs-white);
  font-weight: bold;
  padding-left: 10px;
}
#menu .allmenu .depth3.open> a {
  color: #ed1f2e;
}
#menu .allmenu .depth6 > li > a {
  padding-top: 1rem;
  color: var(--bs-white);
  font-size: 17px;
}
#menu .allmenu li.open .depth5 {
  margin-top: 15px;
  padding-bottom: 30px;
}
#menu .allmenu li .depth5 {
  border: solid 1px #2a2a2a;
  border-width: 1px 0;
  padding: 20px 0 25px 10px;
  margin-top: 0;
  display: none;
  transition: 0s;
}
#menu .allmenu li .depth5 .depth6{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#menu .allmenu .depth5 > li {
  width: 50%;
}
/* header end */

/* footer start */
.footer {
  margin: 0;
  padding: 0;
  color: var(--bs-gray);
  text-align: left;
  background: #222;
}
.footer-top {
  padding: 80px 0 65px 0 !important;
}
.footer_btm {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  width: 100%;
}
.ft_newsletter .ft_sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ft_newsletter .ft_sns a {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 1rem;
}
.ft_newsletter .ft_sns a svg {
  fill: #888;
  border-bottom: solid 2px transparent;
  padding-bottom: 8px;
}
.ft_newsletter .ft_sns a svg:hover {
  fill: red;
  border-bottom: 1px solid red;
}
.footer_btm address > span {
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
  color: #ddd;
}
.footer_btm address > span > span {
  color: #888;
  font-weight: 500;
}
.footer_btm .copyright {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  padding: 0 0 50px 0;
  color: #777;
}
/* footer end */
