@charset "utf-8";
#visual {
  width: 100vw;
  height: 1020px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
.mainSwiper {
  width: 100%;
  margin: 0 !important;
}
.mainSwiper .imgBox{
  height: 1020px;
}
.mainSwiper img {
  width: 100%;
  height: 100%;
}
.main-swiper-slide {
  background-color: var(--bs-white) !important;
  padding-bottom: 0rem !important;
}
.mainSwiper .swiper-pagination {
  left: 32%;
  bottom: 10%;
  color: white !important;
}
.mainSwiper .swiper-pagination-total{
  color: #ffffff50 !important;
}
#visual .visual-slider .visual .container-xl {
  margin-left: 16%;
  height: 100%;
  position: relative;
}
.visual_txtbox2 {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  left: 15%;
  top: 7%;
  color: var(--bs-white);
}
.visual_txtbox2 .txt1 {
  font-size: 54px;
  font-weight: 700;
  padding-bottom: 30px;
  line-height: 130%;
}
.visual_txtbox2 .txt2 {
  font-size: 30px;
  padding-bottom: 20px;
}
#visual .controlbox{
  position: absolute;
  bottom: 9.5%;
  right: 13%;
  z-index: 999;
}
#visual .controlbox .ccbtn5 {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  background: #ba807950;
  vertical-align: bottom;
  color: var(--bs-white);
}
#visual .controlbox .ccbtn5:hover {
  background-color: #5c4f4d9f;
}
#visual .controlbox .ccbtn5 .pre {
  display: block;
  width: 28px;
  height: 28px;
  margin: 6px 9px;
}
#visual .controlbox .ccbtn5 .nex {
  display: block;
  width: 28px;
  height: 28px;
  margin: 6px 9px;
}
#visual .visual_txtbox2 a.gobtn {
  border: solid 1px var(--bs-white);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background: url(/assets/imgs/main/icon_goarr.png) no-repeat center center;
  display: inline-block;
  transition: background-color 0.3s;
}
#visual .visual_txtbox2 a.gobtn:hover{
  background-color: red;
  border: 1px solid red;
}
.mnews {
  margin-top: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
}
.main_news {
  width: 49.33333%;
}
.mnews .tit_wrap {
  position: relative;
  color: #111;
  margin-bottom: 15px;
}
.mnews .tit_wrap h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px;
}
.main_news .news_li {
  padding: 1.5rem 0;
  box-sizing: border-box;
  border-bottom: solid 1px #eee;
}
.main_news .news_li:first-child {
  border-top: solid 3px #111;
}
.main_news .news_li .news_date.n2 {
  display: none;
}
.main_news .news_li .news_date {
  width: 19%;
  text-align: center;
  color: #bbb;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1px;
}
.main_news .news_li .news_date .day {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 7px;
}
.main_news .news_li .bc_box.n2 {
  width: 100%;
}
.main_news .news_li .bc_box .bc_tit {
  font-size: 18px;
  line-height: 28px;
}
.main_news .news_li .bc_box .bc_tit a {
  display: -webkit-box;
  height: 5.5rem;
  font-size: 25px;
  line-height: 1.6;
  color: #111;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  margin-top: 8px;
  letter-spacing: -0.2px;
  font-weight: 500;
  -webkit-box-orient: vertical;
}
.spotlight {
  width: 100vw;
  position: relative;
  display: block;
  margin-top: 150px;
}
.spotlight .main_sec_tit {
  color: #111;
  font-size: 3.2rem;
  font-weight: 700;
}
.controlbox .ccbtn2 {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: bottom;
  border: solid 2px #000;
}
.controlbox .ccbtn2:hover {
  background-color: var(--bs-black);
  color: var(--bs-white);
}
.controlbox .ccbtn2 .pre {
  display: block;
  width: 28px;
  height: 28px;
  margin: 5px 8px;
}
.controlbox .ccbtn2 .nex {
  display: block;
  width: 28px;
  height: 28px;
  margin: 5px 8px;
}
.biff-story {
  margin-top: 150px;
}
.biff-story .tit_wrap h3 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 30px;
}
.biff-story-div .loading {
  text-align: center;
  display: none;
}
.biff-story-div .loading {
  text-align: center;
}
.story_wrap {
  display: flex;
}
.story_wrap .left {
  width: 51.5%;
  margin-right: 70px;
}
.pr_list.cursor-pointer {
  cursor: pointer;
}
.story_wrap .pr_list .thumb {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}
.story_wrap .pr_list .thumb img {
  width: 100%;
}
.thumb > img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.story_wrap .pr_list .detail {
  position: relative;
  z-index: 2;
  margin-top: -20px;
  margin-left: 1rem;
}
.story_wrap .pr_list .subject {
  margin-bottom: 13px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  word-break: keep-all;
}
.story_wrap .pr_list .writer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 0;
}
.story_wrap .pr_list .writer > span img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  transform: translateX(50%);
  max-width: none;
}
.story_wrap .pr_list .thumb:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background: linear-gradient(0deg, #fff 0%, rgba(17, 17, 17, 0) 100%);
}
.story_wrap .pr_list .desc {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 13px;
  font-size: 16px;
  color: rgb(0 0 0 / 77%);
  line-height: 1.6;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.story_wrap .pr_list .btn_more {
  font-size: 1.5rem;
  font-weight: bold;
}
.story_wrap .right {
  flex: 1 0 0;
}
.story_wrap .story_list {
  margin-bottom: 48px;
}
.story_wrap .story_list .box > a {
  display: flex;
  align-items: center;
}
.story_wrap .story_list .box ~ .box {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.story_wrap .story_list .thumb {
  overflow: hidden;
  position: relative;
  width: 120px;
  height: 80px;
  background: rgba(60, 60, 60, 0.4);
  border-radius: 4px;
}
.story_wrap .story_list .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story_wrap .story_list .detail {
  flex: 1 0 0;
  padding-left: 16px;
}
.story_wrap .story_list .subject {
  display: -webkit-box;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.8;
  word-break: keep-all;
  line-height: 1.8;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  font-weight: 600;
}
.story_wrap .story_list .cate {
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 77%);
}
.swiper {
  width: 100%;
  margin: 20px auto;
}

.swiper-slide {
  font-size: 18px;
  background-color: var(--bs-black);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
}
.swiper-slide .txtbox {
  font-size: 18px;
  padding: 25px;
  color: var(--bs-white);
  height: 240px;
}
.swiper-slide .txtbox .tits {
  color: #d62f2f;
  font-size: 20px;
  font-weight: 600;
}
.swiper-slide .txtbox .tit1 {
  font-size: 35px;
  color: var(--bs-white);
}
.swiper-slide .txtbox .tit2 {
  color: #aaa;
  font-size: 20px;
  white-space: pre-wrap;
}
.mmedia {
  width: 100vw;
  position: relative;
  display: block;
  margin-top: 150px;
}
.mmedia .main_sec_tit {
  color: #111;
  font-size: 3.2rem;
  font-weight: 800;
}
.mmedia-swiper .swiper-slide {
  font-size: 18px;
  background-color: var(--bs-white) !important;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
}
.mt-4 {
  margin-top: 1.6rem !important;
}
.mmedia .pggo {
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  padding: 2px 15px;
  border-radius: 25px;
  border: solid 2px #330000;
  vertical-align: top;
}
.hide {
  display: none !important;
}
.content {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  background: #151515;
}
.poster {
  padding: 140px 0;
  margin-top: 150px;
  font-size: 0;
}
.poster_cont {
  position: relative;
  display: block;
  left: 12.5%;
}
.poster .main_sec_tit {
  display: inline-block;
  color: var(--bs-white);
  font-size: 4rem;
  font-weight: 800;
}
.poster .main_sec_tit + p {
  display: inline-block;
  padding-left: 3rem;
  font-size: 1.8rem;
  color: var(--bs-white);
  font-weight: 200;
}
.poster .pggo span {
  display: inline-block;
  margin-right: 1rem;
  padding: 2px 2rem;
  border: solid 2px var(--bs-white);
  color: var(--bs-white);
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 25px;
}
.controlbox .ccbtn3 {
  display: inline-block;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: bottom;
  border: solid 2px var(--bs-white);
  color: var(--bs-white);
}
.controlbox .ccbtn3:hover {
  background-color: var(--bs-white);
  color: var(--bs-black);
}
.controlbox .ccbtn3:hover.fa-solid {
  color: var(--bs-black);
}
.controlbox .ccbtn3 .pre {
  display: block;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 0 0;
}
.controlbox .ccbtn3 .nex {
  display: block;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 0 0;
}
.fa-solid,
.fas {
  font-weight: 900;
  font-size: 14px;
}
.poster .poster-swiper .swiper-slide {
  background-color: #151515;
}
.poster .poster-swiper .img_box img {
  width: 100%;
}
.poster .poster-swiper dl {
  text-align: center;
  margin: 3rem 0;
  font-size: 18px;
  color: var(--bs-white);
}
.poster .poster-swiper dl dt {
  display: inline-block;
  font-size: 18px;
  color: #d62f2f;
  font-weight: 600;
}
.poster .poster-swiper dl dd {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-left: 1rem;
}
.poster .poster-swiper span{
  border-width: 2px 1px;
  border-style: solid;
  border-color: #2a2a2a;
  margin-left: 1rem;
}
.main_sns {
  border-top: 1px solid #ddd;
  padding-bottom: 135px;
  padding-top: 135px;
}
.main_sns_cont {
  display: flex;
  justify-content: center;
}
.main_sns .biff_sns,
.newsletter {
  display: flex;
  margin-right: 2rem;
  align-items: center;
}
.main_sns .m_newsletter {
  padding-right: 70px;
}

.main_sns .m_sns {
  display: inline-block;
  padding-right: 70px;
}
.main_sns .section_tit h3 {
  color: var(--bs-black);
  font-size: 40px;
  letter-spacing: -1px;
  font-weight: 800;
}
.main_sns .section_tit p {
  font-size: 14px;
}
.main_sns .snslink {
  display: inline-block;
}
.main_sns .snslink li {
  position: relative;
  display: inline-block;
  margin-right: 2rem;
}
.main_sns .snslink li:nth-child(1) a {
  background-color: #1f68b6;
  background-image: url(/assets/imgs/main/sns_i_facebook.svg);
}
.main_sns .snslink li:nth-child(2) a {
  background-color: #000;
  background-image: url(/assets/imgs/main/sns_i_twitter.svg);
}
.main_sns .snslink li:nth-child(3) a {
  background-color: #c71f7e;
  background-image: url(/assets/imgs/main/sns_i_instagram.svg);
}
.main_sns .snslink li:nth-child(4) a {
  background-color: #e8151b;
  background-image: url(/assets/imgs/main/sns_i_youtube.svg);
}
.main_sns .snslink li a {
  display: block;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-size: 14px;
}
.main_sns .snslink li a:hover {
  background-color: var(--bs-black);
}
.main_sns .newsletter_btn {
  float: right;
  padding: 0;
  vertical-align: top;
  margin-top: 1rem;
}
.main_sns .newsletter_btn a.btn {
  position: relative;
  padding: 1.8rem 5.5rem 1.8rem 3.5rem;
  color: var(--bs-white);
  font-size: 18px;
  border-radius: 0;
  line-height: 1.5;
  background: var(--bs-black);
  transition: all 0.3s ease;
}
.main_sns .newsletter_btn a.btn::before {
  display: inline-block;
  content: "";
  position: absolute;
  right: 3rem;
  top: 50%;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: url(/assets/imgs/main/btn_nslt2.png) no-repeat;
}
.main_sns .newsletter_btn a.btn:hover {
  background-color: #d62f2f;
}
.main_sponsor {
  background-color: #f7f7f7;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 !important;
  padding: 65px 0;
}
.container-s {
  max-width: 1280px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.main_sponsor h3 {
  display: none;
}
.main_sponsor .sitebanner li {
  display: inline-block;
  width: calc(23% - 1.8rem);
  text-align: center;
  vertical-align: middle;
  margin-right: 2rem;
}
