@charset "utf-8";

/*-------------------------------------------------------------------
    File definitio: Responsive css on all pages
    Order: header > main > sub pages > footer
-------------------------------------------------------------------*/

@media screen and (max-width: 1663.98px) {
  .header_container {
    max-width: 1760px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .mainSwiper .swiper-pagination {
    left: 31%;
  }
  #hd .logo a img {
    width: 200px;
  }
  #hd .sponsor_logo a img {
    width: 90px !important;
  }
  .visual_txtbox2 .txt2 {
    font-size: 25px;
  }
  .visual_txtbox2 .txt1 {
    font-size: 49px;
  }
  #visual .visual_txtbox2 a.gobtn {
    width: 90px;
    height: 90px;
  }
  .visual_txtbox2 {
    left: 10%;
  }
}
@media screen and (max-width: 1580.98px) {
  .main_sns .m_newsletter,
  .main_sns .m_sns {
    padding-right: 30px;
  }
  .main_sns .biff_sns,
  .newsletter {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1505.98px) {
  #hd .gnb nav > .depth1 > li > a {
    font-size: 20px;
  }
  .mnews .tit_wrap h3 {
    font-size: 35px;
  }
  .main_news .news_li .bc_box .bc_tit a {
    font-size: 20px;
  }
  .spotlight .main_sec_tit,
  .mmedia .main_sec_tit,
  .poster .main_sec_tit {
    font-size: 45px;
  }
  .biff-story .tit_wrap h3 {
    font-size: 52px;
  }
  .poster .main_sec_tit + p {
    font-size: 23px;
  }
  .poster .pggo span {
    font-size: 20px;
  }
  .poster_cont {
    left: 4.5%;
  }
  .main_sns .section_tit h3 {
    font-size: 35px;
  }
  .swiper-slide .txtbox .tit1 {
    font-size: 30px;
  }
  .swiper-slide .txtbox .tit2,
  .swiper-slide .txtbox .tits {
    font-size: 18px;
  }

  /* history_award */
  .cont_archive .arc_award .award_film .award_film_li {
    width: 30%;
    padding-right: 20px;
}
.cont_archive .arc_award .award_film .award_film_li .thumb img {
  max-height: 300px;
  height: 300px;
}
}
@media screen and (max-width: 1470.98px) {
  #hd .gnb nav > .depth1 > li {
    padding: 0 10px;
  }
  .visual_txtbox2 {
    left: 8%;
  }
  .mainSwiper .swiper-pagination {
    left: 30%;
  }

  /* award */
  .award .award_li {
    height: 470px;
  }
}
@media screen and (max-width: 1300.98px) {
  .main_sns .biff_sns,
  .newsletter {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .main_sns .biff_sns {
    gap: 10px;
  }
  .main_sns_cont {
    justify-content: space-between;
  }
  .main_sns .m_newsletter,
  .main_sns .m_sns {
    padding-right: 70px;
  }
  .swiper-slide .txtbox .tit1 {
    font-size: 25px;
  }
  .swiper-slide .txtbox .tit2,
  .swiper-slide .txtbox .tits {
    font-size: 18px;
  }
  /* award */
  .award .award_li {
    height: 500px;
  }
  /* sns hub */
  .sns_hub {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1250.98px) {
  .main_nav_center {
    display: none;
  }
  .main_nav_right .sponsor_logo {
    display: none;
  }
  .util {
    display: none;
  }
  .btn_menu {
    display: block;
  }
  .visual_txtbox2 {
    left: 5%;
  }
  .mainSwiper .swiper-pagination {
    left: 38%;
  }
  #visual .controlbox {
    right: 4%;
  }
  #visual .visual_txtbox2 a.gobtn {
    width: 80px;
    height: 80px;
  }
  .main_news .news_li .bc_box .bc_tit a {
    height: 70px;
  }
  .main_news .news_li {
    padding: 15px 0px;
  }
  .menu_wrap.active {
    display: block;
  }
  .main_sponsor .sitebanner {
    gap: 30px;
  }
  /* award */
  .award .award_li {
    height: 530px;
    padding: 30px;
  }

  /* archive */
  #search_detail {
    padding: 20px;
  }
  .search_result {
    margin-top: 20px;
  }

}
@media screen and (max-width: 1141.98px) {
  /* award */
  .award {
    grid-template-columns: 1fr 1fr;
  }
  .award .award_li {
    height: 400px;
    padding: 40px 30px;
  }

  /* archive */
  .search_detail .search_detail_body {
    padding-left: 0px;
  }

  /* sns hub */
  .sns_hub {
    grid-template-columns: 1fr 1fr;
  }

  /* selection review */
  .wz_list .wz_li{
    padding: 10px;
  }
  .wz_list .wz_li .txtbox{
    margin-top: 20px;
  }
  .wz_list .wz_li .txtbox .wz_desc{
    height: 20px;
  }
  .wz_list .wz_li .txtbox .info{
    margin-top: 12px;
  }
  .selection_review .container-s{
    padding: 0;
  }
}

@media screen and (max-width: 1050.98px) {
  .mainSwiper .swiper-pagination {
    left: 36%;
  }
  /* introduction start */
  .intro_list a .logo {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  .intro_list a .logo em {
    margin-top: 0px;
  }
  .intro_list a p {
    padding-left: 0px;
    width: calc(95% - 150px);
  }

  /* Team */
  .contact_cont {
    grid-template-columns: 1fr 1fr;
  }

  /* archive */
  .option_row {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
}
@media screen and (max-width: 1000.98px) {
  #visual {
    height: 800px;
  }
  .mainSwiper .imgBox {
    height: 800px;
  }
  .story_wrap {
    flex-wrap: wrap;
  }
  .story_wrap .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 70px;
  }
  .main_sns {
    padding: 80px 30px !important;
  }
  .main_sns .m_sns,
  .main_sns .m_newsletter {
    width: 100%;
    padding-right: 0px;
  }
  .main_sns .biff_sns,
  .newsletter {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .main_sns_cont {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .footer-top {
    padding: 50px 0 30px 0 !important;
  }

  /* introduction */
  .intro_box .box {
    width: 100%;
  }

  /* view */
  .view .row {
    gap: 20px;
  }
  /* award */
  .award .award_li {
    height: 500px;
  }
  .award .award_li .tit-sec-name {
    padding-bottom: 0px;
  }

  /* programmers */
  .cont_box {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .heading_hide {
    display: block;
  }
  /* accreditation_faq*/
  .accreditation_faq .table-responsive {
    width: 100%;
    overflow-x: auto;
  }
  .accreditation_faq .table-responsive table {
    width: 900px;
  }

  /* videos */
  .media_wrap .media_ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 840.98px) {
  .header_top {
    display: none;
  }
  .mainSwiper .swiper-pagination {
    left: 34%;
  }
  .snb {
    margin-top: 87px;
    overflow-x: scroll;
  }
  #snb .snb_ul {
    display: table;
    overflow-x: scroll;
  }
  #snb .snb_ul li {
    display: table-cell;
    white-space: nowrap;
    float: none;
    padding: 0px 5px;
  }
  #snb .snb_ul li a {
    line-height: 46px;
    font-size: 18px;
    padding: 0 10px;
    color: #ffffff;
    font-weight: bold;
  }
  #snb .snb_ul li.current a {
    position: relative;
    background: var(--bs-white);
    color: #1d1d1d;
  }
  #snb .snb_ul li.current a:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--bs-white);
  }

  /* history_award */
  .jury .jury_li{
    flex-wrap: wrap;
    gap: 20px;
  }
  .jury .jury_li .jury_txt{
    padding-left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .mnews .row {
    flex-wrap: wrap;
  }
  .main_news {
    width: 100%;
  }
  .spotlight .spotlight-swiper .swiper-slide .img_box img {
    width: 100% !important;
  }
  .mainSwiper .swiper-pagination {
    left: 31%;
  }
  #visual {
    height: 700px;
  }
  .mainSwiper .imgBox {
    height: 700px;
  }
  .visual_txtbox2 .txt1 {
    font-size: 35px;
  }
  .visual_txtbox2 .txt2 {
    font-size: 20px;
  }
  #visual .visual_txtbox2 a.gobtn {
    width: 60px;
    height: 60px;
  }
  .swiper-slide .txtbox {
    height: 170px;
  }
  .container-xl,
  .container-xxl {
    padding: 0;
  }
  .mnews .tit_wrap h3 {
    font-size: 30px;
  }
  .main_news .news_li .bc_box .bc_tit a {
    font-size: 18px;
    height: 50px;
  }
  .spotlight,
  .biff-story,
  .mmedia,
  .poster {
    margin-top: 80px;
  }
  .spotlight .main_sec_tit,
  .mmedia .main_sec_tit,
  .poster .main_sec_tit {
    font-size: 35px;
  }
  .biff-story .tit_wrap h3 {
    font-size: 40px;
  }
  .story_wrap .pr_list .subject {
    font-size: 25px;
  }
  .story_wrap .pr_list .desc {
    font-size: 14px;
  }
  .story_wrap .pr_list .btn_more {
    font-size: 20px;
  }
  .story_wrap .left {
    margin-bottom: 40px;
  }
  .story_wrap .story_list .subject {
    font-size: 18px;
  }
  .story_wrap .story_list .cate {
    font-size: 16px;
  }
  .mmedia .pggo {
    font-size: 20px;
  }
  .poster {
    padding: 80px 0px;
  }
  .poster_cont .tit_wrap {
    height: 800px;
  }
  .poster .main_sec_tit + p {
    display: block;
    font-size: 20px;
    padding-left: 0;
  }
  .footer_btm address > span {
    font-size: 16px;
  }
  .footer_btm .copyright {
    font-size: 16px;
  }
  .main_sns .section_tit h3 {
    font-size: 30px;
  }
  .main_sponsor .container-xl {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .main_sponsor .sitebanner {
    justify-content: space-between;
  }
  .footer-top .ft_newsletter {
    display: none;
  }

  /* introduction start*/
  .intro_list a .logo {
    flex-wrap: wrap;
    gap: 10px;
  }
  .intro_list a {
    padding: 40px 0px;
  }
  .intro_list a .logo em {
    width: 100%;
  }
  .intro_list a p {
    padding-top: 10px;
  }
  #snb .snb_ul li a {
    font-size: 16px;
  }
  /* introduction end */

  /* view */
  .view .row {
    flex-wrap: wrap;
  }
  .view .ov-img {
    width: 100%;
    height: 700px;
    margin-right: 0rem;
  }
  .view .ov-img img {
    height: 700px;
  }
  .view .ov-text {
    width: 100%;
  }

  /* award */
  .award {
    grid-template-columns: 1fr;
  }
  .award .award_li {
    height: auto;
    min-height: auto;
  }

  /* Team */
  .contact_cont {
    grid-template-columns: 1fr;
  }
  .contact .contact_li {
    height: auto;
  }

  /* submission guide */
  .submission_guide .table-responsive {
    width: 100%;
    overflow-x: auto;
  }
  .submission_guide .table-responsive table {
    width: 900px;
  }

  /* official selection */
  .official_selection .table2 {
    width: 100%;
    overflow-x: auto;
  }
  .official_selection .table2 table {
    width: 900px;
  }
  .btn-group + .scroll_guide_cont {
    margin-top: 20px;
  }
  .d3tab_basic li a {
    padding: 0;
  }
  .d3tab_basic li {
    padding: 0px;
    margin: 0px;
  }
  .sub_title_wrap {
    padding: 30px 0px;
  }
  .official_selection .table-responsive .mt50 {
    margin-top: 20px !important;
  }

  /* accreditation guide */
  .accreditation .table-responsive {
    width: 100%;
    overflow-x: auto;
  }
  .accreditation .table-responsive table {
    width: 900px;
  }

  /* festival */
  .list_info li {
    height: auto;
    padding: 20px;
    line-height: 1.4;
    flex-wrap: wrap;
  }
  .list_info li strong {
    width: 100%;
    padding-bottom: 10px;
  }
  .list_info li sub {
    width: 75%;
  }

  /* cinephile */
  .list_info .flex_2 {
    flex-wrap: wrap;
    padding: 20px;
  }
  .list_info .flex_2 strong {
    width: 100%;
    text-align: left;
  }
  .cinephile .list_info li sub {
    justify-content: flex-start;
  }

  /* application guideline */
  .application_guidelines .table-responsive {
    width: 100%;
    overflow-x: auto;
  }
  .application_guidelines .table-responsive table {
    width: 900px;
  }

  /* for all page table */
  .scroll_guide_cont {
    display: block;
  }

  /* newsletter */
  .brd_list .brd_li .tit_wrap .tit,
  .brd_list .brd_li .tit_wrap .tit span {
    font-size: 16px;
    white-space: normal;
    line-height: 1.5;
    font-weight: 500;
  }
  .qserach_wrap .inp_search_wrap {
    width: 100%;
  }

  /* archive */
  .arc_pgl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .arc_pgl .pg_li {
    flex-wrap: wrap;
    width: 100%;
  }
  .arc_pgl .pg_li .txtbox {
    width: 100%;
    padding-left: 0px;
    padding-top: 10px;
  }
  .arc_pgl .pg_li .film_thumb {
    width: 100%;
  }
  .arc_pgl .pg_li .txtbox .film_info li.en {
    display: none;
  }
  .arc_pgl .pg_li .txtbox .film_info li:after {
    display: none;
  }
  .arc_pgl .pg_li .txtbox .desc {
    display: none;
  }
  .arc_pgl .pg_li .txtbox .sc {
    font-size: 11px;
    margin-bottom: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .arc_pgl .pg_li .txtbox .film_tit {
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .arc_pgl .pg_li .txtbox .film_info {
    margin: 6px 0 10px;
  }
  .arc_pgl .pg_li .txtbox .film_info li.dir {
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: -0.5px;
  }
  .arc_pgl .pg_li .txtbox .film_award_list {
    margin-top: 8px;
  }
  .arc_pgl .pg_li .txtbox .film_award_list li {
    font-size: 10px;
    padding: 2px 4px 1px;
  }

  /* history */
  .history .table-responsive {
    width: 100%;
    overflow-x: auto;
  }
  .history .table-responsive table {
    width: 900px;
  }
  .history .container-s {
    padding: 0;
    max-width: 1600px;
  }
  .history .table02 dl {
    padding: 10px 0;
  }
  .archive_nav .common_cate {
    font-size: 24px !important;
  }

  /* sns hub */
  .sns_hub {
    grid-template-columns: 1fr;
  }

  /* videos */
  .media_wrap .media_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .videos .media_ul .media_li{
    width: 100%;
  }
  .videos .media_ul .media_row_cont{
    width: 100%;
  }
  .videos .media_ul .img_wrap{
    width: 100%;
  }

  /* selection review */
  .wz_list{
    grid-template-columns: 1fr;
  }
  .wz_list .wz_li{
    width: 100%;
  }
  .wz_list .wz_li .wz_thumb{
    width: 100%;
  }


  .cont_archive .arc_award .award_film .award_film_li {
    width: 50%;
}
.cont_archive .arc_award .award_film .award_film_li .thumb img {
  max-height: 200px;
  height: 200px;
}

/* poster */
.poster_box{
  flex-wrap: wrap;
  gap: 20px;
}
.poster_box .col-md-3{
  width: 100%;
  display: flex;
  justify-content: center;
}
.poster_box .col-md-3 .poster_img {
  width: 50%;
  max-height: 900px;
}
.poster_box .col-md-8{
  width: 100%;
}
}
@media screen and (max-width: 650.98px) {
  #snb .snb_ul li a {
    font-size: 14px;
  }
  /* cinema fund */
  .cinema_fund .table02 dl dt {
    width: 100%;
    text-align: left;
  }

   /* videos */
   .videos .common_cate_gp{
    flex-wrap: wrap;
    justify-content: flex-start;
   }
   .videos .common_cate_gp .mb_width1{
    display: block;
    width: 30% !important;
   }
   .videos .common_cate_gp .mb_width2{
    display: block;
    width: 69% !important;
  }
   .videos .common_cate_gp .mb_width3{
    display: block;
    width: 100% !important;
  }
  .videos .common_cate_gp .common_cate{
    width: 100% !important;
  }
  .videos .common_cate_gp #blah3::after{
    left: 91% !important;
  }
  .videos .common_cate1_gp{
    width: 100% !important;
  }
}
@media screen and (max-width: 575.98px) {
  .mainSwiper .swiper-pagination {
    left: 27%;
  }
  .poster_cont .tit_wrap {
    height: 600px;
  }
  .poster_cont .tit_wrap .img_box img {
    height: 400px !important;
  }
  .main_sns {
    padding: 60px 0px !important;
  }
  .main_sns .snslink li {
    margin-right: 10px;
  }
  .main_sns .biff_sns,
  .newsletter {
    gap: 30px;
  }
  .main_sns .m_newsletter {
    width: 100%;
  }
  .visual_txtbox2 .txt1 {
    font-size: 28px;
  }
  .visual_txtbox2 .txt2 {
    font-size: 16px;
  }
  #visual .visual_txtbox2 a.gobtn {
    width: 55px;
    height: 55px;
  }
  #visual {
    height: 550px;
  }
  .mainSwiper .imgBox {
    height: 550px;
  }
  .mnews .tit_wrap h3 {
    font-size: 25px;
  }
  .main_news .news_li .bc_box .bc_tit a {
    font-size: 16px;
  }
  .spotlight .tit_wrap h3 {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .spotlight .swiper {
    margin-top: 40px;
  }
  .biff-story .tit_wrap h3 {
    font-size: 35px;
  }
  .story_wrap .pr_list .desc {
    padding-top: 20px;
  }
  .story_wrap .story_list .subject {
    font-size: 16px;
  }
  .story_wrap .story_list .cate {
    font-size: 14px;
  }
  .mmedia .pggo {
    font-size: 15px;
  }
  .mmedia .pggo {
    font-size: 15px;
  }
  .poster .main_sec_tit + p {
    font-size: 18px;
  }
  .poster .poster-swiper dl dd {
    font-size: 15px;
  }
  .main_sponsor .sitebanner {
    gap: 20px;
  }
  .main_sponsor .sitebanner li {
    width: 30%;
  }
  .footer_btm .copyright {
    padding-top: 20px;
  }

  /* view */
  .view .ov-img {
    height: 500px;
  }
  .view .ov-img img {
    height: 500px;
  }

  /* programmers */
  .cont_box {
    grid-template-columns: 1fr;
  }
  .heading_hide2 {
    display: block;
  }

  /* archive */
  .search_detail .search_detail_body {
    font-size: 16px;
  }
  .search_detail .search_detail_body select {
    width: 140px;
    height: 35px;
  }
  .search_detail .search_detail_body .lbl {
    font-size: 14px;
  }
  .search_detail .search_detail_body input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  .cont_archive .arc_award .award_film {
   flex-wrap: wrap;
}
  .cont_archive .arc_award .award_film .award_film_li {
    width: 100%;
}
.cont_archive .arc_award .award_film .award_film_li .thumb img {
  max-height: 300px;
  height: 300px;
}
}
@media screen and (max-width: 483px) {
  #visual {
    height: 600px;
  }
  .mainSwiper .imgBox {
    height: 600px;
  }
  .mainSwiper .swiper-pagination {
    left: 23%;
  }
  /* introduction start */
  .intro_list a p {
    width: calc(95% - 50px);
    padding-top: 30px;
  }
  .intro_list a span {
    font-size: 0;
    width: 44px;
    right: 0;
  }
  .intro_list a span::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -3px;
    width: 10px;
    height: 18px;
    background: url(/assets/imgs/main/icon_arrow.png) no-repeat;
    background-size: 8px;
    font-size: 0;
  }
  .intro_list a .logo {
    gap: 30px;
  }
  /* view */
  .view .ov-img {
    height: 400px;
  }
  .view .ov-img img {
    height: 400px;
  }
  .tit-sec {
    font-size: 26px;
  }
  .table04 dl dt {
    margin-right: 15px;
  }
  .table02 dl dt,
  .table02 dl dd {
    display: block;
    width: 100%;
    text-align: left;
  }

  /* program section */
  .pgsection .sec_pg {
    padding: 40px 0px;
  }
  .sub_title_wrap h2.en {
    font-size: 32px;
  }

  /* award */
  .award .award_li .tit-sec-name {
    font-size: 25px;
  }
  .award .award_li {
    font-size: 16px;
  }

  /*festival  */
  .list_info li sub {
    width: 100%;
    padding-bottom: 10px;
  }
  .list_info li .span_cont {
    width: 100%;
    justify-content: flex-start;
  }

  /* cinephile */
  .cinephile .list_info li sub {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
  }

  /* official selection */
  .d3tab_basic li a {
    font-size: 20px;
  }

  /* faq */
  .qna ul li div.question span {
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .qna ul li div.question p {
    font-size: 15px;
    padding: 0 0 0 10px;
  }
  .qna ul li {
    padding: 10px;
  }
  .qna ul li .answer {
    padding: 20px 0 10px;
    margin: 20px 0 0 0;
  }
  .qna ul li .answer .txt_sec p {
    font-size: 14px;
  }

  /* archive */
  #search_detail {
    padding: 10px;
  }
  .search_result {
    margin-top: 10px;
    padding: 10px;
  }
  .search_detail .search_detail_body select {
    width: 120px;
    height: 35px;
  }
  .search_detail .search_detail_body .lbl {
    padding-right: 0px;
  }
  .arc_pgl {
    grid-template-columns: 1fr;
  }
  .arc_pgl .pg_li {
    padding: 10px 0;
  }
  .arc_pgl .pg_li .film_thumb {
    height: 290px;
  }

  /* history */
  .history .common_cate_gp {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    justify-content: space-between;
  }
  .history .common_cate1_gp{
    width: 100% !important;
    top: 58px;
  }
  .archive_nav .common_cates {
    width: 100%;
  }
  .archive_nav .common_cate::after {
    transform: scale(0.5);
    top: 20px !important;
    left: 95%;
    background-size: 14px;
    width: 14px;
    height: 14px;
  }
  .archive_nav .common_cate {
    font-size: 21px !important;
    width: 100%;
    padding-right: 25px;
  }
  .wz_list .wz_li .wz_thumb .thumb{
    height: 250px;
  }

  /* videos */
   .videos .common_cate_gp .mb_width2{
    display: block;
    width: 68% !important;
  }

  .showing .common_cate_gp{
    border: 0;
  }
}
@media screen and (max-width: 400px) {
  .search_detail .search_detail_body span {
    display: none;
  }
}
