@charset "utf-8";

/* introduction start */
.snb {
  margin-top: 190px;
  background-color: #1d1d1d;
  text-align: left;
}
#snb .snb_ul {
  padding: 15px 0;
  text-align: center;
}

#snb .snb_ul li {
  padding: 0px;
}

#snb .snb_ul li a {
  display: inline-block;
  color: var(--bs-white);
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 40px;
  padding: 0 10px;
  letter-spacing: -0.5px;
}

#snb .snb_ul li.current a {
  color: var(--bs-white);
  font-weight: bold;
}

.sub_title_wrap {
  position: relative;
  padding: 50px 0 60px 0;
}

.sub_title_wrap:before,
.sub_title_wrap:after {
  clear: both;
  display: block;
  content: "";
}

.sub_title_wrap h2.en {
  font-size: 56px;
  font-weight: 700 !important;
  color: #111;
  text-align: center;
  letter-spacing: -2px;
}

.container-sm,
.container-md {
  max-width: 1192px;
  margin-bottom: 120px;
}

.container-sm img {
  width: 100%;
}

.tit-sec {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #111;
}

.desc {
  font-size: 17px;
}
.market .desc {
  line-height: 30px;
}
.introduction .desc {
  line-height: 30px;
}
.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt80 {
  margin-top: 80px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt60 {
  margin-top: 60px;
}

.txt-center {
  text-align: center !important;
}

.txt-center img {
  max-width: 100% !important;
  width: 478px !important;
}

.intro_list {
  border-top: 1px solid #111;
}

.init.m > * {
  vertical-align: middle;
}

.mt40 {
  margin-top: 40px;
}

.intro_list dl {
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 18px;
  padding-bottom: 40px;
}

.intro_list dl dt {
  position: relative;
  padding-top: 180px;
  font-weight: 700;
  color: #333;
}

.intro_list dl dt::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 40px;
  left: 50%;
  margin-left: -58px;
  width: 116px;
  height: 116px;
  background: url(/assets/imgs/sub/introduction/intro_logo_biff.png) no-repeat;
}

.intro_list dl dd {
  color: #111;
}

.intro_list a {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 30px 20px;
  transition: all 0.3s ease-in-out;
}

.rowfull {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.intro_list a .logo {
  display: inline-block;
  width: 25%;
  text-align: left;
}

.intro_list a:hover {
  background: #f6f6f6;
}

.intro_list a .logo img {
  max-width: 248px;
}

.intro_list a .logo .width_180 {
  width: 180px !important;
}

.intro_list a .logo .width_166 {
  width: 166px !important;
}

.intro_list a .logo .width_116 {
  width: 116px !important;
}

.intro_list a .logo em {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

.intro_list a em {
  font-weight: bold;
}

.intro_list a span {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -22px;
  width: 120px;
  height: 44px;
  line-height: 44px;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 44px;
  font-size: 16px;
  font-weight: 700;
  color: #111;
  text-align: center;
}

.intro_list a p {
  display: inline-block;
  padding-left: 30px;
  width: calc(75% - 150px);
}

.intro_box {
  margin: 60px 0;
  text-align: center;
}

.intro_box .box {
  display: inline-block;
  width: calc(40% - 25px);
  padding: 60px 0;
  margin-right: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.intro_box .box p {
  position: relative;
  display: inline-block;
  padding: 0 60px;
}

.intro_box .box p::before {
  left: 0;
  background: url(/assets/imgs/sub/introduction/intro_box_left.png) no-repeat
    center center;
}

.intro_box .box p::before,
.intro_box .box p::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: -12px;
  width: 36px;
  height: 77px;
}

.intro_box .box p::after {
  right: 0;
  background: url(/assets/imgs/sub/introduction/intro_box_right.png) no-repeat
    center center;
}

.intro_box .box span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #888;
}

/* introduction end */

/* view start */
.row_container {
  display: flex;
  flex-wrap: wrap;
}

.ov-img {
  width: calc(40% - 1rem);
  display: inline-block;
  margin-right: 2rem;
}

.ov-text {
  width: calc(60% - 1rem);
  margin-right: 0;
}

.table04 {
  border-top: 2px solid #111;
}

.mt20 {
  margin-top: 20px;
}

.table04 dl {
  padding: 10px;
  font-size: 17px;
  border-bottom: 1px solid #ddd;
  color: #111;
}

.table04 dl dt {
  display: inline-block;
  width: calc(25% - 20px);
  font-weight: 700;
  vertical-align: top;
}

.table04 dl dd {
  display: inline-block;
  width: 75%;
  line-height: 1.6;
}

.table02_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.width_100 {
  width: 100%;
}

.table02 {
  width: 100%;
  border-top: 2px solid #111;
}

.table02 dl {
  padding: 30px 0;
  font-size: 17px;
  border-bottom: 1px solid #ddd;
  color: #111;
}

.table02 dl dt {
  display: inline-block;
  width: calc(25% - 20px);
  font-weight: 700;
  text-align: center;
  vertical-align: top;
}

.table02 dl dd {
  display: inline-block;
  width: 75%;
  line-height: 1.6;
}

/* view end */

/* program section start */
.txt-center {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pgsection .sec_pg:nth-child(1) {
  border: none;
}

.pgsection .sec_pg:first-child {
  padding-top: 0;
}

.pgsection .sec_pg {
  padding: 40px;
  border-top: solid 1px #ddd;
  font-size: 17px;
  color: #333;
}

.pgsection .sec_pg .tit-sec-name {
  display: inline-block;
  font-size: 32px;
  color: #111;
  padding-bottom: 15px;
  font-weight: 600;
}
.program_section .desc {
  line-height: 30px;
}
/* program section end */

/* award start */

.award {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.award .award_li {
  display: flex;
  flex-direction: column;
  padding: 55px 30px;
  background-color: #f5f5f5;
  height: 400px;
  font-size: 18px;
  color: #555;
  gap: 0px;
  line-height: 30px;
}

.award .award_li .tit-sec-name {
  color: #111111;
  font-size: 32px;
  font-weight: 700;
  width: 100%;
  padding-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}
.mb-120 {
  margin-bottom: 120px;
}
/* award end */

/* programmers start */
.heading1 {
  font-size: 32px;
  line-height: 34px;
  line-height: 145%;
  font-weight: bold;
  height: 50px;
  text-align: left;
  margin-bottom: 30px;
}

.programer {
  display: grid;
  grid-template-columns: 1fr;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.programmer_cont {
  display: grid;
  grid-template-columns: 1fr;
  gap: 70px;
}

.programer .programer_li {
  position: relative;
  margin: calc(var(--bs-gutter-x) / 2) 0;
  text-align: center;
}

.programer .programer_li .info {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.programer .programer_li .pname {
  color: var(--bs-white);
  font-size: 24px;
  padding-bottom: 5px;
  font-weight: 800;
}

.programer .programer_li .psection {
  color: var(--bs-white);
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: 700;
  display: inline-block;
  padding-left: 15px;
}

.img-responsive {
  width: 100%;
}
.programmer_cont_box {
  display: grid;
  grid-template-columns: 1fr;
}
.cont_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}
.heading_hide {
  display: none;
}
.heading_hide2 {
  display: none;
}
/* programmers end */

/* contact start */
.contact_cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
}

.contact .contact_li {
  padding: 40px;
  border: 1px solid #ddd;
  height: 445px;
}

.contact .contact_li .tit-sec {
  font-size: 24px;
  padding-bottom: 15px;
  font-weight: 800;
}

.contact .contact_li .font_20 {
  font-size: 20px;
}

.contact .contact_li strong {
  color: #333;
}

.mt20 {
  margin-top: 20px;
}

.contact .contact_li .team {
  padding-top: 5px;
  margin-bottom: 5px;
}

.contact .contact_li .team .name {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.contact .contact_li .team .link_mail {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #aaa;
}

/* contact end */

/* sponsorship start */
.mt50 {
  margin-top: 50px;
}

.h5_tit {
  position: relative;
  margin-left: 8px;
  margin-bottom: 10px;
  padding-left: 17px;
  font-size: 20px;
  font-weight: 700;
  color: #111;
}

.h5_tit::before {
  position: absolute;
  content: "";
  display: inline-block;
  left: 0;
  top: 7px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  border: 3px solid #ce1e36;
}

.h5_tit + p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 30px;
}

.ml20 b {
  font-weight: bolder;
}

.ml20 {
  margin-left: 20px;
}
.sponsorship .desc {
  line-height: 30px;
}

/* sponsorship end */

/* submission guide start */
.tbl_basic {
  border-collapse: collapse;
  background: var(--bs-white);
  width: 100%;
  border-top: 4px solid #666;
  border-bottom: 1px solid #939393 !important;
  border-left: 1px solid #e0e0e0;
  text-indent: 0;
  font-weight: normal;
  line-height: 170%;
}

.tbl_basic > thead > tr > th,
.tbl_basic > tbody > tr > th {
  color: #444;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.tbl_basic > thead > tr > th,
.tbl_basic > thead > tr > td {
  background: #efefef;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  vertical-align: middle;
  padding: 15px 20px;
}

.tbl_basic > tbody > tr > th,
.tbl_basic > tbody > tr > td {
  line-height: 170%;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  vertical-align: middle;
}

.tbl_basic > tbody > tr > td strong {
  font-weight: 500;
}

.tbl_basic > tbody > tr > td,
.tbl_basic > tbody > tr > td strong,
.tbl_basic > tbody > tr > td a {
  font-size: 16px;
}

.pb20 {
  padding-bottom: 20px;
}

.red {
  font-weight: bold;
  color: #ce1e36;
  background-color: var(--bs-white);
}

.tbl_basic > tbody > tr > td.center {
  text-align: center;
}

.tbl_basic > tbody > tr > td .circle {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  background: url(/assets/imgs/sub/submission_guide/icon_goarr.png) no-repeat
    center center;
  border-radius: 50%;
  margin: 0 auto;
  background-size: 40%;
  background-color: #333;
}

.tbl_basic > tbody > tr > td a:hover {
  background-color: #e95151;
}

/* submission guide end */

/* official selection start */
.container-m {
  border-bottom: solid 1px #ccc;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

.d3tab_basic {
  margin: 0 0 50px;
}

.d3tab_basic ul {
  text-align: center;
}

.d3tab_basic li {
  padding: 5px 3px;
  display: inline-block;
  margin: 0 5px;
}

.d3tab_basic li.on a {
  color: #111;
}

.d3tab_basic li a {
  display: inline-block;
  font-weight: 700;
  color: #aaa;
  font-size: 22px;
  line-height: 1.5;
  padding: 10px 0 10px 18px;
}

.d3tab_basic .on_1_1:before {
  content: " ";
  position: relative;
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: super;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #aaa;
}

.txt-sub {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #111;
}

.txt-caution {
  margin-top: 10px;
  font-size: 16px;
  color: #888;
}

.db {
  display: block;
}

.table05 {
  width: 100%;
  border-top: 2px solid #111;
}

.table05 thead tr {
  color: #111;
  border-bottom: 2px solid #ddd;
}

.table05 thead tr th {
  padding: 10px;
  height: 50px;
  font-size: 16px;
  font-weight: 800;
}

.table05 tbody tr {
  font-size: 16px;
  height: 55px;
  border-bottom: 1px solid #ddd;
}

.table05 tbody tr th {
  padding: 20px;
  border-right: 1px solid #ddd;
  font-weight: 600;
}

.table05 tbody tr td {
  padding: 20px;
  text-align: left;
  line-height: 1.5;
  border-left: 1px solid #ddd;
}

.table05 tbody tr td strong {
  display: block;
  font-weight: bolder;
}

.btn-group {
  display: inline-block;
}

.btn-group li {
  display: inline-block;
}

.btn-type1 {
  display: inline-block;
  line-height: 1;
  color: #222;
  border: 1px solid #ccc;
  padding: 15px 20px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
}

.btn_badge {
  display: inline-block;
  min-width: 300px;
  margin: 30px 0;
  padding: 20px 30px;
  border-radius: 50px;
  background: #ce1e36;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.btn_badge_cont {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
}

/* official selection end */

/* film academy start */
.mb50 {
  margin-bottom: 50px;
}

.table06 {
  width: 100%;
  border-top: 2px solid #111;
  margin-top: 50px;
}

.table06 tbody tr {
  font-size: 16px;
  height: 55px;
  border-bottom: 1px solid #ddd;
}

.table06 tbody tr th {
  padding: 20px;
  border-right: 1px solid #ddd;
  font-weight: 600;
}

.table06 tbody tr td {
  padding: 20px;
  text-align: left;
  line-height: 1.5;
  border-left: 1px solid #ddd;
}

.table06 tbody tr td strong {
  display: block;
  font-weight: bolder;
}

.list_basic {
  font-size: 17px;
  margin-left: 5px;
}

.list_basic > li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 12px;
  line-height: 30px;
}

.list_basic > li::before {
  position: absolute;
  content: "";
  display: inline-block;
  left: 0;
  top: 10px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #151515;
}

.txt-caution {
  margin-top: 1rem;
  font-size: 16px;
  color: #888;
}

.qna ul {
  width: 100%;
}

.qna ul li:first-child {
  border-top: 1px solid #dfdfdf;
}

.qna ul li {
  color: #555;
  font-size: 18px;
  padding: 30px;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  cursor: pointer;
}

.qna ul li div.question {
  position: relative;
  height: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.qna ul li div.question span {
  font-weight: bold;
  font-size: 22px;
  color: var(--bs-white);
  background: #333;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  box-sizing: border-box;
}

.qna ul li div.question p {
  display: inline-block;
  width: calc(100% - 55px);
  padding: 1.5rem;
  height: auto;
  border-left: none;
  box-sizing: border-box;
  overflow: hidden;
}

.qna ul li div.question::after {
  display: block;
  clear: both;
  content: "";
}

.qna ul li .answer {
  padding: 30px 0 10px;
  display: none;
  cursor: auto;
  border-top: 1px dotted #dfdfdf;
  margin: 30px 0 0 0;
}

.qna ul li .answer > div {
  float: left;
}

.qna ul li .answer .ico_sec span {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  background: #bf202c;
  color: #fff;
  margin-left: 20px;
}

.qna ul li .answer .txt_sec {
  width: 90%;
  padding: 0 0 0 30px;
  box-sizing: border-box;
}

.qna ul li .answer .txt_sec p {
  font-size: 16px;
  line-height: 1.8;
}

.qna ul li.on {
  background: #f6f6f6;
  color: #bf202c;
  display: flex;
  flex-direction: column;
}

.qna ul li.on div.question span,
.qna ul li.on span {
  background: #bf202c;
  border-color: #bf202c;
}

.answer p {
  color: var(--bs-black) !important;
}
.underline {
  text-decoration: underline !important;
}
/* film academy end */

/* accreditation start */
.basic_2 {
  border-collapse: collapse;
  background: var(--bs-white);
  width: 100%;
  border-top: 4px solid #666;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  text-indent: 0;
  font-weight: normal;
  line-height: 170%;
}

.basic_2 > thead > tr > th,
.basic_2 > tbody > tr > th {
  color: #444;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.basic_2 > tbody > tr {
  border-bottom: 1px solid #e0e0e0;
  vertical-align: middle;
}

.basic_2 > tbody > tr > th,
.basic_2 > tbody > tr > td {
  line-height: 170%;
  padding: 15px 20px;
  border-right: 1px solid #e0e0e0;
  vertical-align: middle;
}

.basic_2 > tbody > tr > td strong {
  font-weight: 500;
}

.basic_2 > tbody > tr > td,
.basic_2 > tbody > tr > td strong,
.basic_2 > tbody > tr > td a {
  font-size: 16px;
}

.basic_2 > thead > tr > th {
  background: #efefef;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  vertical-align: middle;
}

.basic_2 > tbody > tr > td.center {
  text-align: center;
}

.basic_2 > tbody > .border_top th,
.basic_2 > tbody > .border_top td {
  border-top: 2px solid #666 !important;
}

.basic_2 > tbody > tr > td .circle {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  background: url(/assets/imgs/sub/submission_guide/icon_goarr.png) no-repeat
    center center;
  border-radius: 50%;
  margin: 0 auto;
  background-size: 40%;
  background-color: #333;
}

.basic_2 > tbody > tr > td a:hover {
  background-color: #e95151;
}
.accreditation_faq .scroll_guide > span {
  background-color: #f6f6f6 !important;
}

/* accreditation end */

/* festival start */
.list_basic > li .list_add {
  color: #666;
  padding-left: 10px;
  line-height: 1.4;
}

.list_basic > li > b {
  padding-bottom: 10px;
  line-height: 30px;
}

.box_basic {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.list_basic > li .list_add li {
  margin-bottom: 10px;
  line-height: 30px;
}

.list_info li {
  width: 100%;
  height: 72px;
  line-height: 72px;
  padding: 0 40px;
  margin-bottom: 10px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  color: #333;
  display: flex;
}

.list_info li strong {
  font-size: 18px;
  width: 25%;
}

.list_info li sub {
  font-size: 16px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.list_info li span {
  font-size: 16px;
  text-align: right;
  font-weight: 600;
}
.list_info li .span_cont {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

/* festival end */

/* cinephile start */
.list_info .flex_2 {
  display: flex;
  line-height: 1.5;
  align-items: center;
  height: auto;
  padding: 20px 40px;
  text-align: center;
  justify-content: space-between;
}

.list_info .flex_2 strong {
  width: auto;
}

.cinephile .list_info li sub {
  display: flex;
  justify-content: center;
  width: auto;
}

.list_info li strong em {
  font-weight: bold;
  font-size: 16px;
}
.list_basic > li > a {
  color: blue;
}

/* cinephile end */

/* press start */
.red2 {
  font-weight: bold;
  color: #ce1e36;
}

/* press end */

/* market start */
.original_img {
  width: auto !important;
}

.txt-center .original_img {
  width: 873px !important;
}

.a_type1 {
  color: #ce1e36;
  font-weight: 500;
  text-decoration: underline !important;
}

/* market end */

/* accreditation start */
.red3 {
  background-color: #f8f8f8 !important;
}

.tbl_basic > .thead_1 > tr > th,
.tbl_basic > .thead_2 > tr > th,
.tbl_basic > .tbody_1 > tr > th {
  font-size: 14px !important;
  padding: 15px 10px !important;
}

.tbl_basic > .tbody_1 > tr > td.center {
  text-align: center;
  color: var(--bs-black) !important;
}

.other th {
  white-space: wrap !important;
  font-size: 14px !important;
  line-height: 120% !important;
  padding: 15px 10px !important;
}

.qna ul li .wide .txt_sec {
  width: 100% !important;
  margin-top: 20px;
}

.qna ul li.on {
  color: #444 !important;
}

.bk {
  color: #444 !important;
}

/* accreditation end */

/* newsletter start */
.qserach_wrap {
  position: relative;
  margin-left: 0px;
  margin-top: 8px;
  float: left;
  width: 100%;
  text-align: right;
  margin-bottom: 40px;
}

.qserach_wrap .inp_search_wrap {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 330px;
  padding: 10px;
  padding-left: 15px;
  z-index: 10;
  border-bottom: solid 2px #151515;
  border-radius: 0 !important;
}

.qserach_wrap .inp_search_wrap .inp_search {
  border: 0;
  font-size: 18px;
  line-height: 30px;
  padding: 0 10px;
  background: transparent !important;
  width: 80%;
  float: left;
}

.btn_arc_search {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 15px;
  background: url(/assets/imgs/sub/newsletter/ico_search_input.png) no-repeat
    20px 50%;
  text-indent: -9999px;
  font-size: 0;
}

.qserach_wrap .inp_search_wrap .inp_search::placeholder {
  color: #999;
}

.brd_list .brd_li:first-child {
  border-top: 1px solid #efefef;
}

.brd_list .brd_li {
  position: relative;
  padding: 23px 0;
  border-bottom: 1px solid #efefef;
}

a.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.brd_list .brd_li .tit_wrap {
  display: flex;
  justify-content: space-between;
}

.brd_list .brd_li .tit_wrap .tit,
.brd_list .brd_li .tit_wrap .tit span {
  white-space: nowrap;
  line-height: 1.3;
  overflow: hidden;
  font-size: 22px;
  text-overflow: ellipsis;
  max-width: 100%;
  letter-spacing: -0.8px;
  font-weight: 600;
  vertical-align: bottom;
}

.brd_list .brd_li.notice_fixed .tit_wrap span.ico_notice {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 10px;
  background: #d82f36;
  color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  letter-spacing: -1px;
  margin-right: 10px;
  margin-top: 6px;
  line-height: 1.6;
  vertical-align: middle;
}

.brd_list .brd_li .date {
  font-size: 18px;
  margin-top: 2px;
}

.pagenation {
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagenation a,
.pagenation i {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-weight: bold;
  margin: 0 2px;
  font-size: 14px;
  line-height: 32px;
  color: #666;
}

.pagenation .current {
  border: 1px solid #444;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  font-style: normal;
  color: #fff;
  background-color: #444;
  padding: 0px 10px;
  font-weight: bold;
}
.brd_view .brd_top {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.brd_view .brd_top .tit {
  display: block;
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -1.8px;
  color: #111;
}
.brd_view .brd_top .info {
  position: relative;
  padding: 8px 0;
}
.cl_b {
  width: auto;
  height: auto;
}
.brd_view .brd_top .info ul li {
  float: left;
  position: relative;
  font-size: 17px;
  line-height: 1.5;
  margin: 8px 0;
  font-weight: normal;
  margin-right: 12px;
  padding-right: 28px;
}
.brd_view .brd_bd {
  border-top: 1px solid #e0e0e0;
  padding: 50px 10px;
}
.brd_view .brd_bd .txtbox {
  font-size: 17px;
  line-height: 2;
  letter-spacing: -0.5px;
  font-weight: 300;
  word-break: keep-all;
  text-align: left;
  margin: 0 auto;
}
.admin_btn_group {
  padding: 30px 0;
  text-align: right;
}
.brd_arrows {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid #e0e0e0;
}
.brd_arrows .btn_page_list {
  margin: 0 auto;
}
.brd_arrows a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-align: center;
  color: #444;
  line-height: 24px;
  font-size: 15px;
}
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}
.brd_arrows .btn_page_list:before {
  width: 30px;
  height: 25px;
  background-position: -45px 0;
  position: relative;
  top: 7px;
  margin-right: 8px;
}
.brd_arrows a:before {
  content: "";
  background: url(/assets/imgs/sub/newsletter/ico_board.png) no-repeat;
  display: inline-block;
  margin: 0 auto;
}
.stb-container-full {
  width: 100%;
  padding: 40px 0;
  background-color: #ffffff;
  margin: 0 auto;
  display: block;
}
.stb-container-full .stb-container {
  text-align: center;
  margin: 0px auto;
  width: 100%;
  max-width: 634px;
  border-width: 2px;
  border-style: solid;
  border-color: #e71b24;
  box-sizing: border-box;
}
.stb-container tbody tr td .none {
  height: 0px;
  max-height: 0px;
  border-width: 0px;
  border: 0px;
  border-color: initial;
  border-image: initial;
  visibility: hidden;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
  display: none;
}
.stb-block-outer .stb-block {
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  max-width: none;
  clear: both;
  line-height: 1.7;
  border: 0px;
  font-size: 14px;
  box-sizing: border-box;
}
.stb-block .stb-cell-wrap .stb-cell-wrap-container {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  width: 100%;
}
.stb-cell-wrap-container tbody tr td {
  padding: 15px 15px 15px 15px;
  border-width: 0px;
}
.stb-cell-wrap-container tbody tr td .stb-cell-wrap-sns {
  margin: 0 auto;
  font-family: AppleSDGothic, apple sd gothic neo, noto sans korean,
    noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic,
    malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif;
  text-align: right;
}
.stb-cell-wrap-sns span {
  list-style: none;
  padding: 0 10px 0 0;
  margin: 0px;
}
.stb-cell-wrap-sns span a {
  padding: 0px 0px;
  border-width: 0px;
  border-image: initial;
  text-decoration: none;
  display: inline-block;
  color: rgb(220, 39, 39);
  font-weight: bold;
}
.stb-cell-wrap-sns span a img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
.stb-cell-wrap .stb-left-cell {
  max-width: 630px;
  width: 100% !important;
  margin: 0px;
  vertical-align: top;
  border-collapse: collapse;
  box-sizing: border-box;
  display: inline-block;
}
.stb-cell-wrap .stb-right-cell {
  max-width: 315px;
  width: 100% !important;
  margin: 0px;
  vertical-align: top;
  border-collapse: collapse;
  box-sizing: border-box;
  display: inline-block;
}
.stb-left-cell .stb-image-box {
  text-align: center;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  clear: both;
}
.stb-image-box table {
  width: 100%;
  text-align: center;
}
.stb-image-box table tbody tr td {
  padding: 15px 15px 25px 15px;
  font-size: 0px;
  border: 0px;
  line-height: 0;
  width: 100%;
  box-sizing: border-box;
  border-width: 0px;
}
.stb-image-box .stb-center {
  width: 272px;
  display: inline;
  vertical-align: bottom;
  text-align: center;
  max-width: 100%;
  height: auto;
  border: 0;
}
.stb-left-cell .stb-text-box {
  text-align: left;
  margin: 0px;
  line-height: 1.7;
  word-break: break-word;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333333;
  clear: both;
  border: 0;
  mso-line-height-rule-rule: exactly;
}
.stb-text-box .stb-text-box-inner {
  width: 100%;
}
.stb-text-box-inner tr td {
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  line-height: 1.7;
  word-break: break-word;
  color: rgb(51, 51, 51);
  border: 0px;
  width: 100%;
  border-width: 0px;
}
.stb-text-box-inner tbody div .stb-bold {
  font-size: 16px;
  font-family: AppleSDGothic, "apple sd gothic neo", "noto sans korean",
    "noto sans korean regular", "noto sans cjk kr", "noto sans cjk",
    "nanum gothic", "malgun gothic", dotum, arial, helvetica, MS Gothic,
    sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.stb-text-box-inner div .stb-italic {
  font-style: italic;
  font-size: 16px;
}

.stb-cell-wrap .stb-partition {
  width: 100%;
  height: 0;
  background: none;
  padding: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999;
  margin: 0 0;
  border-collapse: separate;
}
.stb-image-box .td_1 {
  padding: 0px 0px 15px 0px;
  font-size: 0px;
  border: 0px;
  line-height: 0;
  width: 100%;
  box-sizing: border-box;
  border-width: 0px;
}
.td_1 .stb-justify {
  display: inline;
  vertical-align: bottom;
  text-align: justify;
  max-width: 100%;
  height: auto;
  border: 0px;
}
.width_305 {
  width: 305px;
}
.stb-cell-wrap .width_not_100 {
  width: 50% !important;
}
.stb-image-box .width_294 {
  width: 294px;
}
.stb-text-box-inner .text {
  padding: 0px;
  margin: 0px;
  line-height: 1.7;
  text-align: center;
}
.stb-cell-wrap-cta {
  margin: 0 auto;
  color: #f1f1f3;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  border-collapse: separate !important;
  table-layout: fixed;
  background: red;
  background-color: red;
  border-radius: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  border: 2px solid red;
  mso-line-height-rule: exactly;
  line-height: 1;
}
.stb-cell-wrap-cta tbody tr td {
  background: red;
  background-color: red;
  border-radius: 500px;
  text-align: center;
  padding: 0px;
  border-width: 0px;
  vertical-align: top;
  text-align: center;
}
.stb-cell-wrap-cta tbody tr td a {
  font-size: 16px;
  display: inline-block;
  color: #f1f1f3;
  text-decoration: none;
  outline: 0px;
  text-align: center;
  padding: 19px 20px;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1;
}
.stb-cell-wrap .stb-cta-box {
  display: flex;
  justify-content: center;
}
/* newsletter end */

/* videos start */
.container-l {
  max-width: 1280px;
  margin-bottom: 120px;
}
.common_cate_gp {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 0;
  list-style: none;
  width: 100%;
  user-select: none;
}
.common_cate_gp tr {
  display: flex;
}

.common_cates {
  display: flex;
  position: relative;
}
.bl_none {
  border-left-color: transparent !important;
}
.br_none {
  border-right-color: transparent !important;
}
.common_cate {
  border-bottom: 2px solid #151515;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
  letter-spacing: 0.5px;
  text-align: left;
  padding: 29px 5px;
}
.cate2 {
  width: 200px !important;
}
.cate2_box {
  width: 200px !important;
}
.height_320 {
  height: 320px !important;
}
.common_cate1_gp {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 60px;
  /* left: -0.031rem; */
  left: -1px;
  background-color: var(--bs-white);
  width: 80px;
  padding: 5px 0;
  z-index: 999;
  margin: 0;
  overflow-y: scroll;
}

.common_cate1 {
  width: 100%;
  height: 40px;
  align-content: center;
  font-weight: 400;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0;
  padding: 8px 10px;
  border-bottom: 0px solid #e0e0e0;
  color: #888;
  display: block;
  letter-spacing: -0.5px !important;
}

.hidden {
  display: none;
}
.common_cate::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  z-index: 90;
  transform: translateY(-50%);
  width: 23px;
  height: 27px;
  background-image: url(/assets/imgs/sub/videos/ico_dropdown_filter2.png);
  pointer-events: none;
  background-repeat: no-repeat;
  opacity: 0.4;
  /* background-size: cover; */
}
.cate2::after {
  left: 87% !important;
}
.media_wrap {
  padding-top: 20px;
}
.media_wrap .media_ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  height: 100%;
}

.media_ul .media_li {
  position: relative;
}

.media_ul .media_row_cont {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.media_ul .media_li .img_wrap {
  width: fit-content;
  height: fit-content;
}
.media_ul .media_li .img_wrap .thumb {
  width: 100%;
  overflow: hidden;
  height: 300px;
}
.media_ul .media_li .img_wrap .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  transform: scale(1.05);
  transition: 0.3s ease;
}
.media_ul .media_li .img_wrap .thumb img:hover {
  transform: scale(1);
}
.media_ul .media_li .txtbox {
  border: 1px solid #e0e0e0;
  padding: 25px;
  border-top: 0;
  background: #eeeeee;
}

.media_ul .media_li .evt_type {
  font-size: 16px;
  margin-bottom: 10px;
  color: #aa8d46;
  letter-spacing: -0.5px;
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.media_ul .media_li .evt_type:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e10011;
}

.media_ul .media_li .evt_info {
  margin-bottom: 20px;
}

.media_ul .media_li .evt_info .date,
.media_ul .media_li .evt_info .place {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #666;
}

.media_ul .media_li .evt_tit {
  display: block;
  font-size: 22px;
  line-height: 1.4;
  color: #222;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: -1.2px;
}

.media_wrap .pagenation .current {
  padding: 0 10px;
  color: #cc3737;
  font-weight: bold;
}
.brd_view .media_bd {
  border-top: 1px solid #e0e0e0;
  padding: 50px;
}
/* videos end */

/* archive search start */
.movieserach_wrap {
  position: relative;
  text-align: center;
}

.movieserach_wrap .inp_search_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid #151515;
  padding: 35px 0;
  z-index: 10;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.movieserach_wrap .inp_search_wrap .inp_search {
  border: 0;
  font-size: 26px;
  font-weight: 500;
  color: #aaaaaa;
  text-align: center;
}

.movieserach_wrap .inp_search_wrap .sbtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.option_row {
  display: flex;
  justify-content: space-between;
}

.search_detail .search_detail_body {
  width: 100%;
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.search_detail .search_detail_body input[type="checkbox"]:checked {
  background: #fff;
}

.search_detail .search_detail_body input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 27px;
  outline: 0;
  width: 27px;
  border: solid 1px #ccc;
}

.search_detail .search_detail_body input[type="checkbox"]:checked::after {
  display: block;
}

.search_detail .search_detail_body input[type="checkbox"]::after {
  border: solid #cc3737;
  border-width: 0 2px 2px 0;
  content: "";
  display: none;
  height: 50%;
  left: 37%;
  position: relative;
  top: 16%;
  transform: rotate(45deg);
  width: 30%;
}

.search_detail .search_detail_body .lbl {
  font-size: 15px;
  padding-right: 10px;
}

.search_detail .search_detail_body select {
  width: 179px;
  height: 44px;
  border-radius: 23px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  background: #fff url(/assets/imgs/sub/archive/icon_cal.png) no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search_result {
  padding: 20px 15px;
  border-top: solid 1px #e0e0e0;
  margin-top: 40px;
}

.result_txt {
  font-size: 16px;
  text-align: center;
}

.result_txt span {
  font-size: 16px;
  font-weight: bold;
  color: #e82a32;
}

.arc_pgl {
  position: relative;
  margin-top: 30px;
}
.arc_pgl .pg_li {
  display: flex;
  padding: 40px 0;
  border-bottom: 1px solid #e0e0e0;
}
.arc_pgl .pg_li .film_thumb {
  position: relative;
  display: block;
  width: 25%;
  height: 208px;
  overflow: hidden;
  text-align: center;
  background: #000;
}
.arc_pgl .pg_li .film_thumb .prem {
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  z-index: 10;
  background: #cc3737;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  padding: 3px 8px;
  font-size: 11px;
  line-height: 1.5;
  font-family: Arial, dotum, sans-serif;
  color: #fff;
}
.arc_pgl .pg_li .film_thumb img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transform: scale(1.1);
  transition: 0.3s ease;
}
.arc_pgl .pg_li .film_thumb img:hover {
  transform: scale(1);
}
.arc_pgl .pg_li .txtbox {
  width: 75%;
  padding-left: 40px;
}
.arc_pgl .pg_li .txtbox .sc {
  font-size: 15px;
  line-height: 1.5;
  white-space: nowrap;
  color: #b59f48;
  letter-spacing: -1px;
  margin-bottom: 15px;
  font-weight: 500;
}
.arc_pgl .pg_li .txtbox .film_tit {
  display: block;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #111;
}
.arc_pgl .pg_li .txtbox .film_info {
  margin: 10px 0 15px;
  display: flex;
}
.arc_pgl .pg_li .txtbox .film_info li.dir {
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.arc_pgl .pg_li .txtbox .film_info li {
  padding-right: 14px;
  font-size: 15px;
  word-break: break-word;
}
.arc_pgl .pg_li .txtbox .film_info li:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 10px;
  background: #aaa;
}
.arc_pgl .pg_li .txtbox .film_info li:last-child::after {
  display: none;
}
#search_detail {
  background: #f8f8f8;
  padding: 40px 50px;
}
.arc_pgl .pg_li .txtbox .film_award_list li {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  background: #f3edde;
  color: #ba9b52;
  padding: 4px 8px;
  letter-spacing: -0.5px;
  margin-right: 4px;
  font-weight: 500;
}
.arc_pgl .pg_li .txtbox .bg_color li {
  background-color: white !important;
}
.search_detail .search_detail_body span {
  display: inline-block;
  padding-right: 10px;
}
/* archive search end */

/* history start */
.border_btm {
  border-bottom: solid 1px #ccc;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
.archive_nav {
  padding-top: 30px;
}
.archive_nav .common_cate_gp {
  display: flex;
  justify-content: start;
}
.archive_nav .common_cates {
  display: flex;
  position: relative;
}
.archive_nav .common_cate {
  border: 0;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  color: #111;
  padding-right: 40px;
}
.archive_nav .common_cate::after {
  top: 70%;
  left: 80%;
  opacity: 100%;
}
.archive_nav .common_cate1_gp {
  border: 1px solid #444;
  width: 140px;
  max-height: 280px;
  padding: 15px 15px;
}

.archive_nav .common_cate1 {
  font-size: 18px;
  font-weight: 900;
  color: var(--bs-black);
  padding: 10px;
}
.table01 {
  width: 100%;
  border-top: 2px solid #111;
}
.table01 tbody tr {
  font-size: 15px;
  height: 55px;
  border-bottom: 1px solid #ddd;
}
.table01 tbody tr th {
  padding: 10px;
  border-right: 1px solid #ddd;
}
.table01 tbody tr td {
  padding: 10px;
  text-align: center;
  border-left: 1px solid #ddd;
}
.showing .common_cate_gp {
  display: flex;
  justify-content: flex-start;
}
.showing .common_cate_gp::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: url(/assets/imgs/sub/showing/ico_filter.png) no-repeat 50% 50%;
}
.showing .common_cate_gp .common_cates {
  border: 1px solid #ddd;
  width: 350px;
  height: fit-content;
}
.showing .common_cate_gp .common_cate {
  border: 0;
  padding: 8px 8px 7px 8px;
  width: 350px;
  margin-right: 4px;
  font-size: 15px;
  color: #888;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
.showing .common_cate_gp .common_cate::after {
  background: url(/assets/imgs/sub/showing/ico_dropdown_filter.png);
  background-repeat: no-repeat;
  top: 70%;
  left: 95%;
}
.showing .common_cate_gp .common_cate1_gp {
  top: 40px;
  width: 350px;
  max-height: 320px;
}
.cont_archive .arc_award .arc_award_li {
  padding: 30px 0;
  border-bottom: 1px solid #e3e3e3;
}
.jury {
  position: relative;
  width: 100%;
}
.jury .jury_li {
  display: flex;
  width: 100%;
  padding: 40px 0;
}
.cont_archive .arc_jury .jury_li .jury_img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.cont_archive .arc_jury .jury_li .jury_img img {
  min-height: 200px;
}
.jury .jury_li .jury_img img {
  width: 100%;
  height: auto;
}
.jury .jury_li .jury_txt {
  width: 75%;
  padding-left: 50px;
  padding-top: 0;
}
.jury .jury_li .jury_txt .name {
  font-size: 24px;
  font-weight: bold;
  color: #111;
  letter-spacing: -1px;
}
.jury .jury_li .jury_txt .jury_info {
  margin-top: 10px;
}
.jury .jury_li .jury_txt .jury_info > span {
  position: relative;
  display: inline-block;
  padding-right: 19px;
  margin-right: 12px;
  font-size: 17px;
  line-height: 1.6;
  color: #111;
  font-weight: 500;
}
.jury .jury_li .jury_txt .jury_info > span:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  position: absolute;
  top: 6px;
  right: 0;
  background: #999;
}
.cont_archive .arc_award .award_film {
  display: flex;
  margin-top: 30px;
}
.cont_archive .arc_award .award_film .award_film_li {
  width: 25%;
  padding-right: 20px;
}
.cont_archive .arc_award .award_film .award_film_li .thumb img {
  width: 100%;
  max-height: 150px;
}
.cont_archive .arc_award .award_film .award_film_li .txtbox {
  width: 100%;
  padding: 15px 0;
  position: relative;
}
.cont_archive .arc_award .award_film .award_film_li .txtbox .film_tit {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.cont_archive .arc_award .award_film .award_film_li .info li:first-child {
  padding-left: 0;
}
.cont_archive .arc_award .award_film .award_film_li .info li {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: #888;
  word-break: break-word;
}
.cont_archive .arc_award .award_film .award_film_li .info li:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  position: absolute;
  top: 3px;
  right: 0;
  background: #aaa;
}
.cont_archive .arc_award .award_film .award_film_li .info li:last-child::after {
  display: none;
}
.bold {
  font-weight: bold !important;
}
.not_bold {
  font-weight: lighter !important;
}
.mt15 {
  margin-top: 15px;
}
.mb80 {
  margin-bottom: 80px;
}
.cont_archive .identity_bd {
  padding-left: 30px;
}
.cont_archive .desc-s {
  color: #666;
}
.poster_box {
  display: flex;
}
.poster_box .col-md-3 {
  width: 20%;
}
.poster_box .col-md-3 .poster_img {
  width: 100%;
  max-height: 396px;
}
.poster_box .col-md-8 {
  width: 80%;
}
/* history end */

/* selection_review start */
.selection_review .qserach_wrap {
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 90px;
}
.wz_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.wz_list .wz_li_cont {
  position: relative;
}
.wz_list .wz_li {
  padding: 0 24px;
  padding-bottom: 80px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.wz_list .wz_li .wz_thumb {
  width: fit-content;
  height: fit-content;
}
.wz_list .wz_li .wz_thumb .thumb {
  background: var(--bs-black);
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.wz_list .wz_li .wz_thumb img {
  width: 100%;
  height: 100%;
  min-height: 300px;
  opacity: 0.9;
  transform: scale(1.05);
  transition: 0.3s ease;
}
.wz_list .wz_li .wz_thumb img:hover {
  transform: scale(1);
}
.wz_list .wz_li .txtbox {
  margin-top: 45px;
}

.wz_list .wz_li .txtbox .tit {

  font-size: 24px;
  line-height: 1.1;
  color: #222;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}

.wz_list .wz_li .txtbox .wz_desc {
  font-size: 18px;
  line-height: 1.45;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 12px;
  width: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}

.wz_list .wz_li .txtbox .info {
  margin-top: 25px;
  color: #666;
}

.wz_list .wz_li .txtbox .info .name {
  line-height: 1;
  color: #666;
}
.wz_view .wz_top {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  overflow: hidden;
  background-position: 50% 50%;
  text-align: center;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
.wz_view .wz_top:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.wz_view .wz_top .inner {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  z-index: 20;
}
.wz_view .wz_top .txtbox {
  display: table-cell;
  height: 400px;
  vertical-align: middle;
  width: 80%;
}
.wz_view .wz_top .txtbox .wz_tit {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}
.wz_view .wz_top .txtbox .tit {
  font-size: 36px;
  line-height: 1.4;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #fff;
}
.wz_view .wz_top .txtbox .name {
  color: #fff;
  margin-top: 6px;
  opacity: 0.8;
}
.wz_view .wz_bd {
  padding: 60px 0;
}
.wz_view .wz_bd .contents,
.wz_view .wz_bd .contents p,
.wz_view .wz_bd .contents span {
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
}
.stradd_view_div {
  border: 1px solid #e0e0e0;
  padding: 5px 30px;
  margin-top: 30px;
  border-radius: 5px;
  width: fit-content;
  font-size: small;
}
/* selection_review end */

/* sns_hub start */
.sns_hub {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.sns_hub .box {
  display: inline-block;
  max-height: 420px;
  padding: 30px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  vertical-align: top;
}

.sns_hub .box dl {
  margin-top: 25px;
}

.sns_hub .box dl dt {
  font-size: 25px;
  font-weight: 600;
  color: #111;
}

.sns_hub .box .sns_link {
  position: relative;
  padding-top: 50px;
  margin-top: 40px;
  height: 90px;
}

.sns_hub .box .sns_link::before {
  position: absolute;
  content: "";
  display: inline-block;
  left: 50%;
  top: 0;
  margin-left: -3px;
  width: 6px;
  height: 6px;
  background: #999;
  border-radius: 6px;
}

.sns_hub .box .sns_link li {
  display: inline-block;
  width: calc(20% - 10px);
  vertical-align: top;
}

.sns_hub .box .sns_link li a {
  position: relative;
  padding-top: 50px;
}

.sns_hub .box .sns_link li a::before {
  position: absolute;
  content: "";
  display: inline-block;
  left: 50%;
  top: 0;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.sns_hub .box .sns_link li a[data-type="페이스북"]::before {
  background-image: url(/assets/imgs/sub/sns_hub/sns_facebook.png);
}

.sns_hub .box .sns_link li a[data-type="트위터"]::before {
  background-image: url(/assets/imgs/sub/sns_hub/sns_twitter.png);
}

.sns_hub .box .sns_link li a[data-type="인스타그램"]::before {
  background-image: url(/assets/imgs/sub/sns_hub/sns_instagram.png);
}

.sns_hub .box .sns_link li a[data-type="유튜브"]::before {
  background-image: url(/assets/imgs/sub/sns_hub/sns_youtube.png);
}

.sns_hub .box .sns_link li a[data-type="틱톡"]::before {
  background-image: url(/assets/imgs/sub/sns_hub/sns_tiktok.png);
}

.sns_hub .box .sns_link li a span {
  font-size: 14px;
  color: #888;
  letter-spacing: -0.5px;
}
.SNS_hub > .cont_b {
  margin-bottom: 120px;
}
/* sns_hub end */

/* for all page table */
.scroll_guide_cont {
  display: none;
}
.scroll_guide {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #333;
}
.scroll_guide img {
  width: 32px;
  height: 32px;
}
.scroll_guide > span {
  padding-left: 10px;
  font-size: 15px;
}
